<h1>New Idea</h1></br>

<%= form_for [@category,@idea] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.collection_select :category_id, @categories.order(:title), :id, :title %><br/>
  <%= f.submit %>
<% end %>
