<!DOCTYPE html>
<html>
  <head>
    <title>Ideabox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application'  %>

  </head>
    <body>
      <h1 class="title_bar">iDEA bOX</h1>
      <nav>
        <h2><%= link_to "Categories", categories_path%>  |
        <%= link_to "Ideas", ideas_path %>  |
        <%= link_to "Images", images_path%></h2></br>
      </nav>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>

        <div class="yield_body">
        <%= yield %>
        </div>

      <footer>
          <p style= "text-align: center"> Lauren Billington</p>
      </footer>
    </body>
</html>
